* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Jost', sans-serif;
    line-height: 1.5;
}

.btn {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    border-radius: 10px;
}

p {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.title p:first-of-type {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
    margin: 0;
}

.title h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    margin: 0;
}

.rmLink {
    font-size: 17px;
    border-bottom: 2px solid #189A46;
    color: black;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
    transition: .5s;
}

.rmLink:hover {
    color: #189A46;
}

a:hover {
    text-decoration: none;
}

/* HEADER */
header {
    height: 90px;
    padding-top: 5px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

header #pooNavbar {
    padding: 8px 0;
}

header .navbar-brand {
    color: #189A46;
    font-size: 36px;
    font-weight: 600;
}

#pooNavbar .nav-link,
#pooNavbar .dropdown-item {
    color: black;
    font-size: 18px;
    transition: .5s;
}

#pooNavbar .nav-item:hover .nav-link,
#pooNavbar .active .nav-link,
#pooNavbar .dropdown-item:hover {
    color: #44ad6a;
}

#pooNavbar .nav-item .nav-link {
    padding: 0.5rem 0;
}

#pooNavbar .nav-item {
    margin-right: 20px;
    position: relative;
    font-weight: 500;
}

#pooNavbar .dropdown-item {
    position: relative;
}

#pooNavbar .nav-item::after,
#pooNavbar .dropdown-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    height: 1px;
    width: 0;
    background-color: #44ad6a;
    transition: .5s;
}

#pooNavbar .dropdown-item::after {
    left: 25px;
    bottom: 5px;
}

#pooNavbar .dropdown-item:hover:after {
    width: 60%;
}

#pooNavbar .nav-item:hover:after {
    width: 100%;
}

header .searchButton {
    display: inline-block;
    height: 42px;
    width: 42px;
    line-height: 40px;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    color: #44ad6a;
    font-size: 15px;
    transition: .5s;
}

header .searchButton:hover {
    color: white;
    background-color: #189A46;
}

/* header responsive */
@media screen and (max-width:992px) {
    #resNavbar .navbar-toggler {
        background-color: #189A46;
        color: white;
    }

    #resNavbar .navbar-toggler i {
        display: block;
        font-size: 20px;
        padding: 5px 0;
    }

    #pooNavbar ul {
        background-color: white;
    }

    #pooNavbar ul li a {
        text-align: center;
    }

    #pooNavbar .nav-item::after,
    #pooNavbar .dropdown-item::after {
        opacity: 0;
    }

    #pooNavbar .searchButton {
        margin: 30px 0 20px 20px;
    }
}

/* CAROUSEL */
#pooCarousel .carousel-item {
    top: 90px;
}

#pooCarousel .carousel-item img {
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.4);
}

#pooCarousel .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    max-width: 700px;
    text-transform: capitalize;
    padding-left: 31px;
}

#pooCarousel .carousel-caption h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 600;
    color: white;
}

#pooCarousel .carousel-caption p {
    color: white;
    line-height: 30px;
    opacity: 0.9;
    font-size: 1.2rem;
}

#pooCarousel .carousel-caption .btn-outline-primary {
    border: 2px solid white;
    color: white;
}

#pooCarousel .carousel-caption .btn-primary,
#pooCarousel .carousel-caption .btn-outline-primary {
    margin: 20px 10px 0 0;
}

#pooCarousel .carousel-caption .btn-primary,
#pooCarousel .carousel-caption .btn-outline-primary:hover {
    background-color: white;
    border: 2px solid white;
    color: #189A46;
}

#pooCarousel .carousel-indicators {
    margin-bottom: 35px;
}

#pooCarousel .carousel-indicators li {
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 0 6px;
    transition: .2s;
}

#pooCarousel .carousel-indicators li:hover,
#pooCarousel .carousel-indicators .active {
    background-color: #44ad6a;
    width: 30px;
    height: 10px;
    border-radius: 15px;
}

/* carousel responsive */
@media screen and (max-width:1200px) {
    #pooCarousel .carousel-caption h5 {
        font-size: 52px;
        line-height: 62px;
    }

    #pooCarousel .carousel-caption p {
        font-size: 15px;
    }
}

@media screen and (max-width:992px) {
    #pooCarousel .carousel-caption h5 {
        font-size: 50px;
        line-height: 55px;
    }

    #pooCarousel .carousel-caption p {
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    #pooCarousel .carousel-item img {
        height: 75vh;
    }

    #pooCarousel .carousel-caption p {
        font-size: 16px;
    }

    #pooCarousel .carousel-caption {
        top: 45%;
    }
}

@media screen and (max-width:480px) {
    #pooCarousel .carousel-caption h5 {
        font-size: 32px;
        line-height: 42px;
    }
}

/* ABOUT */
.about {
    padding: 70px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .title {
    width: 700px;
}

.about .title p:last-of-type {
    margin: 16px 0;
}

/* SERVICES */
.services {
    padding: 100px 0 50px 0;
    background-color: rgba(147, 107, 232, 0.05);
}

.services .iconCard {
    color: #189A46;
    font-size: 30px;
}

.services .card-title a {
    color: black;
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    transition: .5s;
}

.services .card-title a:hover {
    color: #189A46;
}

.services .card-body p {
    margin: 0;
}

.services .botCard {
    margin-bottom: 30px;
}

.services .card {
    padding: 15px 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: white;
    transition: .5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.services .card:hover {
    background-color: rgba(147, 107, 232, 0.05);
}

/* OFFER */
#offerContent {
    align-items: center;
    padding: 80px 0;
}

.offerLeft img {
    width: 100%;
    border-radius: 10px;
}

.offerLeft {
    padding-left: 30px;
}

.offer .offerRight .title p:last-of-type {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0 35px 0;
}

.offerRight ul li {
    list-style: none;
    font-size: 16px;
    line-height: 26px;
    margin: 15px 0;
    font-weight: 600;
}

.offerRight ul li i {
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 10px;
    color: #189A46;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgba(147, 107, 232, 0.05);
    margin-right: 12px;
}

/* offer responsive */
@media screen and (max-width: 992px) {
    .offerLeft {
        padding: 0 0 70px 0;
    }
}

/*! NUMBER */
.number {
    background-color: #189a46;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number__content {
    display: flex;
    justify-content: space-around;
}

.number__item {
    width: 25%;
}

.number__item p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.number__item h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}


/*! NVM-GLOBAL */
ul {
    list-style: none;
    padding: 0;
}

.btn-primary {
    color: #fff;
    background-color: #189A46;
    border-color: #189A46;
}

.btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 10px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #116E32;
    border-color: #116E32;
}

.btn:hover {
    text-decoration: none;
}

.hny-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

/* !PRICING */
/* content */
.w3l-pricing-7-main {
    background: rgba(147, 107, 232, 0.05);
}

.w3l-pricing-7-main .pricing-gd-left {
    background: #fff;
    border-radius: 6px;
    align-self: center;
}

.w3l-pricing-7-main .pricing-sec-7 {
    margin: 0 5% auto;
    margin-top: 0;
    width: 90%;
}


.pricing-gd-left.pric-7.active .w3l-pricing-7-top {
    padding: 3em 2.5em 0.5em;
    background: #189a46;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.pricing-gd-left.pric-7.active .w3l-pricing-7-bottom {
    padding: 2em 2.5em 3.5em;
}


.w3l-pricing-7-main .pricing-gd-left.active {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
    border-radius: 6px;
}


/* text */

.w3l-pricing-7-bottom {
    text-align: center;
    padding-top: 1em;
}

.w3l-pricing-7-main h4 {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189A46;
}

.w3l-pricing-7-main h4 span {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}


.w3l-pricing-7-main h5 {
    font-size: 15px;
    line-height: 20px;
    color: #189a46;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: 10px;
}

.w3l-pricing-7-main h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.w3l-pricing-7-main .pricing-gd-left.active h6,
.w3l-pricing-7-main .pricing-gd-left.active h4 {
    color: #fff;
}

.w3l-pricing-7-main ul.links li {
    list-style: none;
    margin-bottom: 5px;
    color: #696969;
}

/*! VIDEO POPUP */
.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute;
}
/* video ẩn*/
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

.mfp-hide {
    display: none !important;
}

div#small-dialog iframe {
    width: 100%;
    height: 400px;
    display: block;
}

/* video ẩn - end */

.img-fluid {
    max-width: 100%;
    height: auto;
}

.radius-image {
    border-radius: 10PX;
}

/* button play */
.w3l-index5 .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}


.w3l-index5 span.video-play-icon {
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
}

.w3l-index5 span.fa.fa-play {
    line-height: 55px;
}
.w3l-index5 span.video-play-icon span {
    color: #189a46;
}





/*! TESTIMONIAL */
.w3l-clients {
    background: rgba(147, 107, 232, 0.05);
}

.w3l-clients .testimonial {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}

.w3l-clients .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
}

.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #d8d8d8;
    display: block;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
}

.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot.active span, .owl-two.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #189a46;
    width: 30px;
    height: 10px;
}


.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
}


/*! HOMEPAGE SUBSCRIBE */

form {
    display: block;
    margin-top: 0em;
}

.w3l-bottom form.subscribe-wthree input[type="email"] {
    font-size: 16px;
    color: var(--title-color);
    border-radius: var(--border-radius);
    padding: 0px 20px;
    height: 60px;
    flex-basis: 70%;
    background: #fff;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.w3l-bottom .subscribe-wthree-field {
    justify-content: space-between;
}

.w3l-bottom form.subscribe-wthree button {
    flex-basis: 27%;
}

/*! FOOTER */
.w3l-footer footer.footer-28 {
    background: #111;
}

.w3l-footer h6.footer-title-28 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.w3l-footer .footer-list-28 ul li a,
.w3l-footer .footer-list-28 ul li p {
    font-size: 16px;
    color: #696969;
    line-height: 28px;
}

.w3l-footer .midd-footer-28 {
    background: #111;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.w3l-footer .copy-footer-28 {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #696969;
    margin-bottom: 0;
}

.w3l-footer .copy-footer-28 a {
    color: #f53626;
    opacity: 0.9;
}